{% assign article_count = include.year.items | size %}
<li class="sidebar-year-archive-item">
    <details class="sidebar-year-archive-group" name="sidebar-year-archive">
        <summary>{{ include.year.name }} ({{ article_count }})</summary>
        <ul class="sidebar-year-archive-posts">
            {% assign posts_ascending = include.year.items | sort: "date" %}
            {% for post in posts_ascending limit: 3 %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            {% if article_count > 3 %}
            <li class="sidebar-year-archive-all-posts">
                <a href="{{ site.baseurl }}/tags/#{{ include.year.name }}">查看全部 {{ article_count }} 篇 →</a>
            </li>
            {% endif %}
        </ul>
    </details>
</li>
